#game {
    position: relative;
    background-color: lightgray;
    height: 100vh;
}

#player {
    position:fixed;
    height: 15vh;
    width: 0.5vw;
    left: 50%;
    bottom: 0%;
    background-color: black;
}

.bullet {
    position: absolute;
    background-color: black;
}

.obstacle {
    background-color: black;
    position: absolute;
}